.git
.svn
_svn
.CVS
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
_svn
.DS_Store
__MACOSX
.settings
.buildpath
.project
.cache
nbproject
/.netbeans/
catalog.xml
*.psd
*~
.htpasswd
/build/
/vendor/
/bin/
/composer.phar
om
map
composer.lock
coverage
phpunit.xml
