<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "./vendor/autoload.php" >
    <testsuites>
        <testsuite name="CSanquer TwigExtraBundle Test Suite">
            <directory suffix="Test.php">./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
      <log type="coverage-html" target="coverage" charset="UTF-8"
           yui="true" highlight="true"
           lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
